:root {
  --primary: #0063ef;
  --secondary: #2b3992;
  --TurquoiseBlue: #01fef5;
  --white: #fff;
  --black100: #1b1b1b;
  --black200: #4d4d4f;
  --gray100: #91969a;
  --gray200: #bfc1c2;
  --gray300: #e6e6e6;
  --border-radius: 8px;
  --border-color: #e4e8eb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden !important;
  color: var(--black200);
}

ul {
  padding: 0;
  margin: 0;
}

/* html,
body,
body > div,
.main {
    height: 100%;
}
	 */

.carousel .slide img {
  display: none;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 2px solid #333;
}
/* 
.carousel li:hover div img {
	transform: scale(1.5);
	transition: 0.6s ease;
} */

.carousel .thumbs-wrapper {
  margin: 15px 0 !important;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.carousel .thumbs-wrapper ul li {
  margin-right: 0px;
}
.carousel .thumbs-wrapper ul li + li {
  margin-left: 10px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 2px solid var(--secondary) !important;
}

.flag-img,
.flag-img-main {
  float: left;
  margin-right: 10px;
}

.flag-img-main {
  margin-top: 6px;
  margin-right: 5px;
}

.alert-field .MuiAlert-icon {
  width: auto !important;
}

.customForm .alert-field{
  margin-top: 15px !important;
  display: block !important;
}


.text-danger {
  color: red;
}

.input-otp-code {
  max-width: 80%;
  margin: auto;
}

.input-otp-code input {
  margin: auto !important;
}

.position-relative {
  position: relative;
}

.passwordEye {
  position: absolute;
  top: 42px;
  right: 15px;
  cursor: pointer;
}

.country-code-field {
  width: 200px !important;
  position: relative;
}

.country-code-field .label-text { 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.country-code-field .text-danger {
  position: absolute;
  z-index: 9;
  right: 0;
  top: 0;
}

.country-flag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.MuiPaper-root {
  max-height: 450px !important;
}

.text-capitalize {
  text-transform: capitalize;
}

.mb-1 {
   margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
 margin-top: 2rem;
}
.mt-3 {
 margin-top: 3rem;
}
.mt-4 {
 margin-top: 4rem;
}

.text-center {
  text-align: center;
}

.notfound {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  /* margin: 0 100% auto; */
  height: 350px;
  width: 350px;
}

@media screen and (max-width: 992px) {
   .xs-d-none {
    display: none;
   }
}

.w-100 {
  width: 100%;
}

.product_cart_image {
  width: 200px;
}

.bold-900 {
  font-weight: 900;
}

.bold-500 {
  font-weight: 500;
}

.float-right {
  float: right;
}

.t-13 {
  font-size: 13px;
}

.text-primary {
  color: #0063ef;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}