
:root {
	--primary: #0063EF;
	--secondary: #2B3992;
	--TurquoiseBlue: #01FEF5;
	--white: #fff;
	--black100: #1B1B1B;
	--black200: #4D4D4F;
	--gray100: #91969A;
	--gray200: #BFC1C2;
	--gray300: #E6E6E6;
	--border-radius: 8px; 
	--border-color: #e4e8eb;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: var(--black200);  
}

ul {
    padding: 0;
    margin: 0;
}

/* html,
body,
body > div,
.main {
    height: 100%;
}
	 */




.carousel .slide img {
	display: none;
}

.carousel .thumb.selected, .carousel .thumb:hover {
	border: 2px solid #333;
}
/* 
.carousel li:hover div img {
	transform: scale(1.5);
	transition: 0.6s ease;
} */

.carousel .thumbs-wrapper {
	margin: 15px 0 !important;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.carousel .thumbs-wrapper ul li {
	margin-right: 0px;
}
.carousel .thumbs-wrapper ul li + li {
	margin-left: 10px;
}


.carousel .thumb.selected, 
.carousel .thumb:hover {
	border: 2px solid var(--secondary) !important;
}

.flag-img, 
.flag-img-main {
	float: left;
	margin-right: 10px;
}

.flag-img-main {
	margin-top: 6px;
	margin-right: 5px;
}

.alert-field .MuiAlert-icon {
	width: auto !important;
}

.text-danger {
	color: red;
}